include includes/header.pug

body

	header#header
		include includes/navbar.pug
						
	include includes/soc-icons.pug

	.container
		.row
			.col.text-center
				h1 Фотосесії та зйомки кліпів

	.container
		.row
			.col.text-align
				p Любиш бути яскравим та оригінальним? Що може бути краще ніж незвичайні й атмосферні фото з благородними та граційними створіннями, що своєю витонченістю та харизмою додадуть насиченості твоїм кадрам.
				p Наші коні з радістю позуватимуть поруч з вами! Хоч на годинку ви зможете відчути себе брутальним ковбоєм, відважною амазонкою, розкішною королевою чи будь-ким. Ми з радістю підтримаємо та допоможе здійснити усі ваші ідеї.
				p Ви можете запросити вашого фотографа, а також у нас є список перевірених спеціалістів що вміло працюють саме з конями.

include includes/photosession-gallery.pug

include includes/footer.pug


	// JavaScript Bundle with Popper from bootstrap
	script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')


