include includes/header.pug

body

	header#header
		include includes/navbar.pug
						
	include includes/soc-icons.pug

	.container
		.row
			.col.text-center
				h1 Кінні прогулянки та походи

	.container
		.row
			.col.text-align
				p Що може бути краще активного відпочинку на свіжому повітрі ще й в компанії таких чарівних створінь як коні?
				p Будь-хто зможе відчути ці неймовірні враження, навіть новачок! Наші чуйні інструктори навчать вас сидіти верхи й правити конем і завжди будуть поруч для вашого комфорту. Також не забудьте взяти з собою телефон, адже на згадку ви отримаєте пару кадрів на фоні мальовничої природи.
				p Але не тільки новачків можуть порадувати наші коні. Для досвідчених є активні маршрути серед безкрайніх просторів та цікавих локацій! Ви відчуваєте той драйв і відчуття свободи, що можуть подарувати лише коні!
	
include includes/photosession-gallery.pug

include includes/footer.pug


	// JavaScript Bundle with Popper from bootstrap
	script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')


