nav.navbar.navbar-expand-lg.navbar-dark(style="background-color:#4d2723")
			.container
				a.navbar-brand(href="index.html")
					| Кінний клуб Аллюр
				button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navContent" aria-expanded="false" aria-label="Toggle navigation")
					span.navbar-toggler-icon
				.collapse.navbar-collapse#navContent
					ul.navbar-nav.me-auto.mb-3.mb-lg-0
						li.nav-item
							a.nav-link(href="training.html" aria-curent='page')
								| Екскурсії
						li.nav-item
							a.nav-link(href="svyata.html")
								| Шоу та свята
						li.nav-item
							a.nav-link(href="photosession.html")
								| Фотосессіїї
						li.nav-item
							a.nav-link(href="progulyanky.html")
								| Прогулянки та походи
						li.nav-item
							a.nav-link(href="sertificat.html")
								| Сертифікати
						li.nav-item
							a.nav-link(href="price.html")
								| Прайс
						li.nav-item
							a.nav-link(href="contacts.html")
								| Контакти