.container.soc-icons
		.row.justify-content-around
			.col.text-center
				a(href='https://www.instagram.com/allurdnepr/' target='blank')
					i(class='fab fa-instagram')
			.col.text-center
				a(href='https://www.youtube.com/channel/UC86Zf95lmijWpG3m88abW-A/featured' target='blank')
					i(class='fab fa-youtube')
			.col.text-center
				a(href='https://www.tiktok.com/@oxy.allur' target='blank')
					i(class='fab fa-tiktok')
			.col.text-center
				a(href='https://www.facebook.com/allurdnepr/' target='blank')
					i(class='fab fa-facebook')
			.col.text-center
				a(href='https://viber.click/380984296885' target='blank')
					i(class='fab fa-viber')
			.col.text-center
				a(href='tel:+380667200846')
					i(class='fas fa-phone')